<h2>Sign Up</h2>

<%= form_tag login_create_path, :class => 'form' do %>
  <%= label :user_id, 'User Id', :class => 'col-form-label' %>
  <%= text_field :user_id, 'User id'%>
  <%= label :email, 'Email', :class => 'col-form-label' %>
  <%= text_field :email, 'Email' %>
  <br/>
  <%= submit_tag 'Sign-up for an account', :class => 'btn btn-primary' %>
<% end %>
